.container {
  height: 280px;
  width: 100%;
  background: rgb(255, 214, 42);
  display: flex;
  list-style-type: none;
  align-items: center;
}

.item {
  height: 100px;
  width: 100px;
  background-color: rgb(176, 42, 255);
}

.item {
  margin-right: 7px;
}

.e1 {
  justify-content: flex-start;
}

.e2 {
  justify-content: space-between;
}

.e3 {
  align-items: flex-end;
  justify-content: flex-end;
}

.exercise-3 .item {
  margin-left: 7px;
}
