.container {
  background:rgb(255, 214, 42);
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  height: 100px;
  width: 100px;
}

.purple {
  background-color:rgb(176, 42, 255);
}
