.container {
  border: 2px rgb(66, 133, 244) solid;
  width: 600px;
  height: 100px;
}

.container .box {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-right: 27px;

}

.box:nth-child(1) {
  margin-left: 24px;
}

.box:nth-child(10) {
  margin-right: 24px;
}

.container:nth-child(1) .box {
  background-color: rgb(66, 133, 244);
}

.container:nth-child(2) {
  background-color: rgb(225, 99, 71);
}

.container:nth-child(2) .box {
  background-color: rgb(100, 53, 121);
}
