.container {
    height: 280px;
    width: 100%;
    background: rgb(255, 214, 42);
    display: flex;
    list-style-type: none;
    align-items: center;
}

.item {
    height: 108px;
    width: 108px;
    background-color: rgb(176, 42, 255);
}


nav {
    width: 90%;
    height: 63px;
    background-color: rgb(176, 42, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

a {
    height: 30px;
    background-color: rgb(42, 234, 255);
    margin-left: 40px;
    width: 110px;
}
